<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather App</title>

    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{helpMsg}}</p>
  </body>
</html>
